___
# Ciência dos Dados - PROJETO 1

Rodrigo Gatti Coutinho

## TÍTULO DO SEU PROJETO

___
## Introdução

Nesse primeiro projeto, pretendo analisar a relaçao coezistente entre a classe social de uma pessoa e o trabalho infantil na cidades de São Paulo.

___
## Filtros da base de dados

In [18]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [19]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Familia\Documents\insper\ciencia dos dados

In [27]:
#Se usar o arquivo descompactado
# pd.read_csv('PES2015csv.csv', sep=',')
#Se usar o arquivo compactado como está no dropbox púbico
dados=pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')
dados.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,0,2015,11,15,1,1,2,27,2,1992,...,1.0,800.0,4.0,5,1.0,2.0,2.0,1.0,800.0,20161117
1,1,2015,11,15,3,1,4,4,5,1992,...,1.0,1150.0,4.0,5,1.0,2.0,2.0,1.0,1150.0,20161117
2,2,2015,11,15,4,1,4,4,1,1980,...,6.0,793.0,4.0,6,1.0,2.0,2.0,1.0,793.0,20161117
3,3,2015,11,15,4,2,2,5,6,1981,...,6.0,793.0,4.0,7,1.0,2.0,2.0,1.0,793.0,20161117
4,4,2015,11,15,4,3,4,8,4,2004,...,6.0,793.0,4.0,2,2.0,NaN,NaN,2.0,793.0,20161117

In [30]:
dados= dados.loc[:, ["UF","V4723","V4728","V6502","V4816", "V9891", "V4743"]]
dados.to_csv("resumo.csv") #faz com que salve em um arquivo no excel
dados_nao_nulos= dados[pd.notnull(dados.V4723)&pd.notnull(dados.V4728)&pd.notnull(dados.UF)&pd.notnull(dados.V6502)&pd.notnull(dados.V4816)&pd.notnull(dados.V9891)&pd.notnull(dados.V4743)]
dados_nao_nulos.head()

   UF  V4723  V4728  V6502  V4816  V9891  V4743
0  11     10      1      0   11.0    2.0    4.0
1  11     10      1      0   12.0    5.0    4.0
2  11      2      1      0    8.0    2.0    4.0
3  11      2      1      0    5.0    1.0    4.0
7  11      2      1      0    5.0    3.0    4.0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!